# Code editor / IDE specific
.vscode

# Build output
build/
#.build

# Libraries/Dependencies
include/limine/*
#!include/limine/limine.h

.DS_Store
**/.DS_Store

tools/old
tools/png
tools/bmp
tools/lg.py
tools/vad
tools/vad.py

.github/*

logo.txt

src/kernel/console/functions/edit.c

tmp/

dsk/disk.img


#shared/libc/math/math.c
#shared/libc/math/pi.h
shared/libc/math/complete_pi.txt

shared/ui/assets/logo_.txt
shared/ui/assets/logo.txt
#shared/ui/assets/logo.bin

#shared/libc/std/


tools/converter.py

.zig-cache/

#dsk/disk.img

etc.txt
